.conocenos {
    background-color: rgb(89, 187, 252);
    padding: 10px;
    margin-bottom: 10px;
}

.josealdo {
    color: black;
    padding: 10px;
    border-right: 1px solid black;
    text-decoration: none;
    padding: 10px;
}